:root {
    /* Paletten generator: https://coolors.co/ff6781-121417-ccf5ac-717568-297373 */

    --background: #211C1E;
    --main: #8CE3DA;
    --accent: #E9CBC4;
    --soft: #61618d;
}

body {
    background-color: var(--background);
    color: var(--accent);
    margin: 30px;
    font-family: sans-serif;
}

h1 {
    color: var(--main);
}

div#window-chat {
    border: 1px solid var(--main);
    border-radius: 10px;
    width: 70%;
    height: 50vh;
    margin: 40px 10px 10px 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

div#window-type {
    display: flex; 
    margin: 0px 10px; 
    width: 70%;
    align-items: right;
}

input[type=text]#composer {
    background-color: var(--background);
    width: 100%;
    margin-right: 10px;
    border: 1px solid var(--main);
    border-radius: 15px;
    color: var(--accent);
    font-weight: bold;
    padding: 10px 20px;
}

div.message {
    margin: 10px 10px;
    border-radius: 15px;
    color: var(--background);
    font-weight: bolder;
    padding: 10px 20px;
    width: fit-content;
    max-width: 70%;
    overflow-wrap: break-word;
}

div.message#sent {
    margin-left: auto;
    margin-right: 10px;
    background-color: var(--background);
    border: 2px solid var(--main);
    color: var(--main);
}

div.message#recieved {
    background-color: var(--main);
}

div.message#recieved h3{
    color: var(--background);
    font-size: small;
}

div.message#server {
    background-color: var(--soft);
    margin-left: auto;
    margin-right: auto;
    font-size: small;    
    margin-top: 10px;
}

div#window-chat i {
    opacity: 50%;
}

button.main {
    border-radius: 15px;
    border-width: 0px;
    color: var(--background);
    background-color: var(--accent);
    font-weight: bolder;
    padding: 10px 20px;
}

button.main:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

button.main:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.3);
}